@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary: #185baa;
  --secondary: #019bf0;
  --primary-text: #4c525c;
  --secondary-text: #767676;
  --white: #ffffff;
  --image-bg: #eef3fb;
  --radius-sm: 4px;
  --radius-lg: 16px;
  --radius-xl: 30px;
  --radius-2xl: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus-visible {
  outline: var(--secondary) auto 1px;
}

.text-blue-primary {
  color: var(--primary);
}

.text-blue-secondary {
  color: var(--secondary);
}

.text-primary {
  color: var(--primary-text);
}

.text-secondary {
  color: var(--secondary-text);
}

/* Products Section */
.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding-bottom: 2rem;
}

/* Products Section Header */
.header {
  color: var(--primary-text);
  text-align: center;
  padding-inline: 1rem;
}

.header-title {
  font-weight: 700;
  line-height: 54px;
  size: 1.25rem;
  letter-spacing: 0%;
}

.header-subtitle {
  font-weight: 400;
  line-height: 24px;
  size: 13px;
  letter-spacing: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  width: 100%;
}

/* Navigation Tabs */
.nav-tabs {
  border-radius: var(--radius-2xl);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: #ecf5ff;
  width: calc(max-content + 14px);
}

.nav-tab {
  padding: 4px 30px;
  border-radius: var(--radius-xl);
  border: none;
  background-color: transparent;
  color: var(--primary-text);
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
}

.nav-tab-active {
  background-color: var(--white);
  color: var(--secondary);
  font-weight: 500;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  width: 100%;
}

/* Product Card */
.product-card {
  background: var(--white);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}

.product-card > div:first-child {
  display: flex;
  gap: 1rem;
}

.product-image {
  background-color: var(--image-bg);
  width: 100px;
  height: 100px;
  border-radius: var(--radius-lg);
}

.product-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--radius-lg);
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: min-content;
}

.product-title {
  font-size: 0.875rem; /* 24px */
  font-weight: 600;
  line-height: 1.5rem;
}

.product-title-reveal {
  display: none;
}

.product-description {
  color: var(--secondary-text);
  font-size: 0.75rem;
}

.product-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.product-tags.md {
  display: none;
}

.product-tag {
  padding: 2px 4px;
  border-radius: var(--radius-sm);
  background-color: #f4f4f4;
  font-size: 11px;
  color: var(--secondary-text);
}

/* Skeleton Loader */
.skeleton-card {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  border-radius: 12px;
  background: linear-gradient(90deg, #ebebeb 25%, #f8f8f8 50%, #ebebeb 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Medium screens and up (md) */
@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

/* Large screens and up (lg) */
@media (min-width: 1024px) {
  .main-content {
    gap: 2.5rem;
    padding-top: 2.5rem;
  }

  .header {
    padding: 0.75rem 0 1rem 0;
  }

  .header-title {
    font-size: 2rem;
  }

  .header-subtitle {
    font-size: 1.25rem;
  }

  .nav-tab {
    padding: 10px 50px;
    font-size: 20px;
  }

  .products-section {
    padding-inline: 3rem;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 0;
    gap: 0;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-card {
    padding: 12px 12px 24px 12px;
    overflow: hidden;
  }

  .product-title {
    font-size: 1.5rem;
  }

  .product-title-reveal {
    display: unset;
    font-size: 1.5rem;
  }

  .product-card > div:first-child {
    flex-direction: column;
    gap: 0;
    width: 100%;
    position: relative;
  }

  .product-info {
    gap: 0.75rem;
    padding: 16px 24px 24px 24px;
    background-color: var(--white);
    transition: all 0.3s ease;
  }

  .info-reveal {
    flex-direction: column;
    gap: 0.25rem;
    display: flex;
    position: absolute;
    bottom: -60%;
    left: 0;
    right: 0;
    padding: 16px 24px 24px 24px;
    background-color: var(--white);
    transition: bottom 0.3s ease;
  }

  @media (hover: hover) {
    .product-card:hover .info-reveal {
      bottom: 0;
    }
    .product-card:hover .product-image img {
      transform: scale(1.03);
    }
  }

  .product-description {
    font-size: 1rem;
  }

  .product-tags.sm {
    display: none;
  }

  .product-tags.md {
    display: flex;
  }

  .product-image {
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
  }

  .product-image img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    transition: transform 0.35s ease;
  }

  .skeleton-card {
    height: 300px;
    width: 100%;
  }
}
